# ==================================================
# Izumo Project
# Git Ignore
# ==================================================

# --------------------------------------------------
# live-build build artifacts
# --------------------------------------------------
.build/
builder/.build/
config/.build/

binary/
binary.modified_timestamps

cache/
chroot/

chroot.files
chroot.packages.install
chroot.packages.live

live-image-*.contents
live-image-*.files
live-image-*.packages

*.iso
*.img

config/binary
config/bootstrap
config/chroot

# --------------------------------------------------
# Builder
# --------------------------------------------------
builder/cache/
builder/output/

# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.pyc

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Lock files
# --------------------------------------------------
*.lock
